@import url('game.css');
.match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.match  h1{
    display: flex;
    justify-content: center;
    max-width: 200px;
    padding: 30px;
    border-radius: 50%;
    background-color: pink;
    box-shadow: 1px 3px 2px ;
    margin: 20px;
    transition: transform 0.2s;
}
.match h1:hover{
    transform: scale(1.04);
    background-color: rgb(228, 160, 170);
    color: rgb(39, 36, 36);
}
#p1, #p2{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 10px ;
    background-color: rgba(255, 255, 0, 0.812);
    border-radius: 10px;
    box-shadow: 1px 5px 5px 0px rgb(230, 109, 109);
}
#p1 label,#p2 label{
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 1px 3px 5px rgb(238, 146, 146);
}
#p1 input, #p2 input{
    font-size: 1rem;
    border-radius: 10px;
    border-color: white;
    padding: 5px;
}
button{
    display: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border-color: white;
    background-color: #9cdadf;
    color: rgb(204, 18, 49);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.05);
    background-color: skyblue;
}