body{
    background: linear-gradient(to right, rgba(255, 0, 0, 0.592), rgba(0, 162, 255, 0.723));
    color: linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #DC143C;
}
.heading{
    background: linear-gradient(to right, rgba(87, 186, 168, 0.726), rgba(118, 212, 108, 0.732));
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px ;
}
.heading h1{
    font-size: 2.9rem;
    font-weight: bolder;
}
.box{
    background-color: rgba(106, 55, 55, 0.173);
    width: 400px;
    height: 420px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    text-align: center;
}
.box div{
    border: 1px solid black;
    font-size: 100px;
    transition: transform 0.2s;
    height: 138px;
}
.box div:hover{
    transform: scale(1.02);
    border: none;
    background-color: #ebe4e688;
}
#turn{
    padding: 20px;
    font-size:5lvw;
}
